*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
  height: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  text-transform: uppercase;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas:
  "result content__details";
  padding-left: 30px;
  padding-right: 30px;
}

.content__details {
  grid-area: content__details;
  margin-left: 30px;
  padding-top: 4px;
  width: 399px;
  height: 534px;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  margin-top: 20px;
  overflow-y: auto;
  max-height: 298px;
}

.content__list {
  display: flex;
  gap: 23px;
  flex-direction: column;
}

.content__list-item {
  padding: 3px;
}

.content__card-link {
  text-decoration: none;
  color: white;
  display: block;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-lin:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.content__card-link_current {
  background-color:#545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
}

.content__video-card-description-container {
  min-width: 196px;
  max-width: 196px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-top: 5px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.result {
  grid-area: result;
}

.result__video-container {
  position: relative;
  margin-top: 78px;
  margin-bottom: 12px;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
  appearance: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__label-text {
  gap: 10px;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: transparent;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  min-width: 225px;
}

.search-form__textfield::placeholder {
  opacity: 0.7;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  width: fit-content;
}

.search-form__pseudo-checkbox {
  border: 1px solid #FFF;
  width: 19px;
  height: 19px;
  gap: 20px;
  margin-top: 1.5px;
  margin-right: 5px;
  margin-bottom: 1.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  background-color: white;
  width: 15px;
  height: 15px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: transparent;
  border: 1px solid currentColor;
  color: white;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  min-width: 194px;
  height: 34px;
}

.more-button {
  min-width: 390px;
  height: 34px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
