*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
  height: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas:
  "result content__details";
}

.content__details {
  grid-area: content__details;
  margin-left: 30px;
  padding-top: 4px;
  width: 399px;
  height: 534px;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  margin-top: 26px;
  /* padding-top: 26px; */
  overflow-y:scroll;
  /* width: 399px; */
  max-height: 298px;
}

.content__list {
  display: flex;
  gap: 30px;
  /* width: 399px;
  height: 298px; */
  /* overflow-y:scroll; */
  /* padding-top: 26px; */
  flex-direction: column;
}

.content__list-item {

}

.content__video-card {
  display: flex;
  flex-direction: row;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  min-width: 196px;
  max-width: 196px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.content__card-link {
  text-decoration: none;
  color: white;
}

.content__video-card-title{
  font-family: Oswald;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description {
  /* font-family: Fira Sans Condensed; */
  font-size: 18px;
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.result {
  grid-area: result;
}

.result__video-container {
  /* width: 771px;
  height: 386px; */
  padding-top: 78px;
  padding-bottom: 16px;
}

.result__video {
  width: 771px;
  height: 386px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  /* padding-top: 16px; */
  display: flex;
  justify-content:space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  /* font-family: Fira Sans Condensed; */
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  /* text-decoration: underline; */
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__label-text {
gap:10px;
}

.search-form__label-text visually-hidden {

}

.search-form__textfield {
  background-color: transparent;
  /* color: #FFFFFF; */
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left; 
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  appearance: none;
  margin-top: 5px;
}

.search-form__textfield:has(:focus-visible) {
  border-color: rebeccapurple;
  color: palevioletred;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  /* margin-bottom: 5px; */
}

.search-form__pseudo-checkbox {
  border: 1px solid #FFFFFF;
  width: 19px;
  height: 19px;
  gap: 20px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  margin-top: 1.5px;
  margin-right: 5px;
  margin-bottom: 1.5px;
}



/* .search-form__pseudo-checkbox::after {
  content: "";
  background-color: white;
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.search-form__pseudo-checkbox:checked::after {
  content: "";
  background-color: white;
  position: absolute;
  width: 18px;
  height: 18px;
} */

/* .search-form__pseudo-checkbox::before {
  content: "";
  width: 18px;
  height: 18px;
  color: white;
  position: absolute;
} */

/* .search-form__checkbox visually-hidden:checked {
  background-color: white;
  color: white;
  width: 18px;
  height: 18px;
}

.search-form__checkbox visually-hidden::before::after {
  content: "square";
  width: 18px;
  height: 18px;
} */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: white;
  margin-top: 20px;
  /* font-family: Fira Sans Condensed; */
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-align: center;
  /* text-underline-position: from-font; */
  /* text-decoration-skip-ink: none; */
}

.search-form__submit-button {
  min-width: 194px;
  min-height: 34px;
}

.more-button {
  min-width: 390px;
  min-height: 34px;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-align: left;
  /* width: 260px;
  height: 210px; */
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
